
#link1:hover,#link2:hover{
    color: #54ac7e;
}

#subtitle{
    color: #989eb1;
}

@media (min-width: 200px) and (max-width: 320px){
   #register_page{
       padding: 1.5em;
   }
   #title_inicial{
    text-align: initial;
    font-size: 88%;
    margin-top: 0em;
    }
    #options{
        margin-top: 8em;
        font-size: 90%;
    }
    #link1 {
        margin-right: 9.4em;
    }

    .btn_blue{
        width: 16em;
    }
    .formInput{
        font-size: 1em;
        width: 16.9em;
    }
    .label_blue {
        font-size: 0.9em;
    }
}

@media (min-width:321px) and (max-width: 376px){
    #register_page{
        padding: 2em;;
    }
    #title_inicial{
     text-align: initial;
     font-size: 88%;
     margin-top: 0em;
     }
     #options{
         margin-top: 8em;
         font-size: 90%;
     }
     #link1 {
         margin-right: 12.1em;
     }
 
     .btn_blue{
         width: 18.3em;
     }
     .formInput{
         font-size: 1em;
         width: 19.2em;
     }
     .label_blue {
         font-size: 0.9em;
     }
}

@media (min-width:377px) and (max-width: 426px){
    #register_page{
        padding: 3.56em;
        padding-bottom: 0;
        padding-top: 2em;
    }
    #title_inicial{
     text-align: initial;
     font-size: 88%;
     margin-top: 0em;
     }
     #options{
         margin-top: 8em;
         font-size: 90%;
     }
     #link1 {
         margin-right: 12.2em;
     }
 
     .btn_blue{
         width: 18.3em;
     }
     .formInput{
         font-size: 1em;
         width: 19.2em;
     }
     .label_blue {
         font-size: 0.9em;
     }
}

@media (min-width:427px) and (max-width: 550px){
    #register_page{
        padding: 7.45em;
        padding-bottom: 0;
        padding-top: 35px;
    }
    #title_inicial{
     text-align: initial;
     font-size: 88%;
     margin-top: 0em;
     }
     #options{
         margin-top: 8em;
         font-size: 90%;
     }
     #link1 {
        margin-right: 12.1em;
     }
 
     .btn_blue{
         width: 18.3em;
     }
     .formInput{
         font-size: 1em;
         width: 19.2em;
     }
     .label_blue {
         font-size: 0.9em;
     }
}

@media (min-width:550px) and (max-width: 768px){
    #register_page{
        padding: 14.1em;
        padding-top: 2em;
        padding-bottom: 0em;
    }
    #title_inicial{
     text-align: initial;
     font-size: 88%;
     margin-top: 0em;
     }
     #options{
         margin-top: 8em;
         font-size: 90%;
     }
     #link1 {
         margin-right: 12.5em;
     }
 
     .btn_blue{
         width: 18.3em;
     }
     .formInput{
         font-size: 1em;
         width: 19.2em;
     }
     .label_blue {
         font-size: 0.9em;
     }
}

@media (min-width:769px) and (max-width: 1025px){
    #register_page{
        padding: 10.1em;
        padding-top: 10em;
        padding-bottom: 0em;
    }
    #title_inicial{
        text-align: initial;
        font-size: 146%;
        margin-top: 1em;
        position: absolute;
        margin-left: 18em;
    }
    #options{
        margin-top: -7em;
        font-size: 90%;
        position: absolute;
        margin-left: 38em;
    }
    #link1 {
        margin-right: 10em;
    }
    .btn_blue{
        width: 18.3em;
        position: absolute;
        margin-left: 24em;
        margin-top: -9em;
    }
    .formInput{
       font-size: 1em;
       width: 19.2em;
    }
    .label_blue {
        font-size: 0.9em;
    }
}

@media (min-width:1026px){
    #register_page{
        padding: 17.1%;
        padding-top: 10em;
        padding-bottom: 0em;
    }
    #title_inicial{
        text-align: initial;
        font-size: 146%;
        margin-top: 1em;
        position: absolute;
        margin-left: 18em;
    }
    #options{
        margin-top: -7em;
        font-size: 90%;
        position: absolute;
        margin-left: 30em;
    }
    #link1 {
        margin-right: 10em;
    }
    .btn_blue{
        width: 18.3em;
        position: absolute;
        margin-left: 25.2em;
        margin-top: -9em;
    }
    .formInput{
       font-size: 1em;
       width: 19.2em;
    }
    .label_blue {
        font-size: 0.9em;
    }
}
