.btn_abrir_menu {
    margin-left: 0.9em;
    margin-top: 1em;
}
.title{
    display: block;
    text-align: center;
}
#h2_conf{    
    margin-bottom: 0;
    margin-top: 2em;
    font-size: 1.9em;
}
#subtitle{
    margin-top: 0.2em;
    font-size: 0.9em;
    color: #b3b3ba;
    font-family: 'asap-semibold';
}

form{
    text-align: center;
}
#lb_blue1{
    margin-left: -14em;
}
#lb_blue2{
    margin-left: -14em;
}
#lb_blue3{
    margin-left: -11.4em;
}
#lb_blue4{
    margin-left: -11.4em;
}