@font-face{
    font-family: "quick-bold";
    src: url("../fonts/Quicksand-Bold.ttf");
}
@font-face{
    font-family: "asap-semibold";
    src: url("../fonts/Asap-SemiBold.ttf");
}
@font-face{
    font-family: "asap-regular";
    src: url("../fonts/Asap-Regular.ttf");
}
@font-face{
    font-family: "asap-medium";
    src: url("../fonts/Asap-Medium.ttf");
}
@font-face{
    font-family: "asap-bold";
    src: url("../fonts/Asap-Bold.ttf");
}
@font-face{
    font-family: "quick-semibold";
    src: url("../fonts/Quicksand-SemiBold.ttf");
}
@font-face{
    font-family: "quick-regular";
    src: url("../fonts/Quicksand-Regular.ttf");
}
    /* --Fontes do projeto: */
    /*      quick-bold      */
    /*      quick-semibold   */
    /*      quick-regular   */
    /*      asap-semibold   */
    /*      asap-regular    */
    /*      asap-medium     */
     /*      asap-bold     */
body{
    font-family: asap-regular;
    color:#35424a;
    margin: 0;
}
button:focus{
    outline:none;
}
.btn_green{
    background: #54ac7e;
    border: none;
    border-radius: 6px 6px 6px 6px;

    color: #ffffff;
    font-family: "asap-semibold";
    font-weight: 600;
    font-size: 17px;
    text-align: center;

    box-shadow: 0px 7px 10px rgba(36, 62, 22, 0.23);

    width: 16em;
    height: 48px;
    cursor: pointer;
}
.btn_blue{
    background: #5f6af8;
    border: none;
    border-radius: 6px 6px 6px 6px;

    color: #ffffff;
    font-family: "asap-semibold";
    font-weight: 600;
    font-size: 17px;
    text-align: center;

    box-shadow: 0px 6px 10px rgba(2, 31, 84, 0.23);

    width: 16em;
    height: 48px;
    cursor: pointer;
}
.link{
    font-family: asap-medium;
    text-decoration: none;
    color:#989eb1;
}
.label_green{
    font-family: asap-semibold;
    font-size: 1em;
    color: #54ac7e;
}
.label_blue{
    font-family: asap-semibold;
    font-size: 1em;
    color:#5f6af8;
}
.formInput{
    border: none;
    border-bottom-style: solid;
    border-width: 1.6px;
    border-color: #ebebeb;
    font-family: 'asap-medium';
    color: #35424a;
    font-size: 1.1em;
    width: 15em;
    padding-bottom:0.5em;
    margin-top: 0.7em;
    margin-bottom: 1.4em;
}
.formInput:focus{
    outline:none;
}
.btn_add_tartaruga{
    width: 4em;
}
.btn{
    cursor: pointer;
}
/* Parte do Histórico */
.li{display: block;
    margin-bottom: 1em}
.div{
    background-color: #5f6af8;
    color: white;
    border-radius: 6px 6px 6px;
    height: 9em;
    width: 38em;
}
.datahora{
    position: fixed;
    margin: 0;
    margin-left: 2%;
    padding-top: 0.5em;
}
.localizacao{
    position: fixed;
    margin: 0;
    margin-left: 25.3em;
    padding-top: 0.5em;
    text-align: end;
}
.especie{
    margin-left: 2%;
    font-family: 'asap-bold';
    font-size: 2em;
    position: fixed;
}
.informacoes{
    position: fixed;
    margin-left: 2%;
    margin-top: 3.9em;
}
.tipoderegistro{
    position: fixed;
    margin-left: 2%;
    margin-top: 7em;
}
.div_dados{
    position: fixed;
    margin-left: 30em;
    margin-top: 5em;
    text-align: end;
}
.p_dados{
    padding: 0;
    margin: 0;
    margin-top: 1%;
}
/* Parte da tela Principal */
.registrartartaruga{
    display: none;
}
.div_aviso{
    width: 307px;
    height: 71px;
    padding: 8px 8px 8px 8px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.27);
    background: #ffffff;
    color: #000000;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px 7px 7px 7px;
}
.div_detalhes{
    display: none;
    position: absolute;
    background-color: #5f6af8;
    width: 100%;
    height: 100%;
    color:white;
    font-family:  quick-semibold;
}

.h3{
    margin-top:0.4em;
    margin-bottom: 0.1em;
}
.h1{
    margin: 0;
}
.p{
    font-family: asap-medium;
    color:#989eb1;
    margin: 0;
}
.p_titulo{
    font-size: 1.7em;
}
.btn_ver{
    width: 114px;
    height: 27px;
    padding: 0px 10px 0px 10px;
    background: #5f6af859;
    color: #5f6af8;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px 1px 5px 1px;
    font-family: "quick-bold";
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    position: relative;
    margin-top: 0;
    margin-left: 14em;
    cursor: pointer;
}
.btn_abrir_menu{
    width: 2em;
}
.div_titulo{
    background-color: #54ac7e;
    height: 9em;
    color:white
}
.p_titulo,.btn_abrir_menu{
    margin-left: 2em;
}
ul{
    padding: 0;
}
/* Parte do Visualizar Notificações */
.h1_notificacoes{
    font-family: quick-bold;
    margin-top: 5em;
    margin-left: 7%;
}
.label_dados{
    font-family: quick-regular;
    font-size: 1.7em;
    margin-left: 7%;
}
.lb{
    margin-left: 7%;
}

.btn_maps{
    text-align: center;
    display: block;
    margin-top: 6em;
}


/* Parte do Menu */
.menu{
    position: fixed;
    background-color: #ffffff;
    width: 12em;
    height: 100%;
    box-shadow:14px 1px 20px 0px rgb(0 0 0 / 13%);
    display:none;
}
.li_menu{
    display: block;
    height: 3em;
    color: #35424a;
    font-family: asap-medium;
    line-height: 3em;
    padding-left: 3em;
}
.li_menu:hover{
    background-color: #dee2e6;
}
.btn_config{
    width: 2em;
}
a{
    text-decoration: none;
}
.btn_fechar_menu,.btn_back{
    width: 1.8em;

}
/* Parte do Cadastro das tartarugas */
.sessao{
    background-color: #5f6af8;
    color:white;
    width: 100%;
    height: 100%;
    position: absolute;
}
.inputDadosTartaruga{
    font-size: 0.89em;
    border-radius: 11px;
    padding: 0.5em;
    border: none;
    font-family: 'asap-semibold';
    width: 14.99em;
    color:#35424a;
}
.inputDadosTartaruga2{
    font-size: 0.89em;
    border-radius: 11px;
    padding: 0.5em;
    border: none;
    font-family: 'asap-semibold';
    width: 16.99em;
    color:#35424a;
}
#inputPR,#inputMU{
    width: 18em;
}
#inputES,#inputTR,#inputSE{
    width: 16em;
}
#inputCCC,#inputCCL,#inputHora{
    width: 6.5em;
}
#inputData{
    width: 8.5em;
}
#ccc,#ccl{
    margin-right: 0.8em;
}
.ccc_ccl,.data_hora{
    display: flex;
}
input:focus{
    outline: none;
}
.a_novadesova{
    text-decoration: none;
    color:white;
    font-family: asap-medium;
}