.btn_back{
    position: absolute;
    margin-top: 1em;
    margin-left: 1em;
}
.h1_gerenciartartaruga{
    text-align: center;
}
.cabecalho{
    display: contents;
}
.inputDadosTartaruga {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}
.detalhamento{
    margin-bottom: 0.5em
}
#houvemanutencao{
    margin-bottom: 0.6em
}
.h1_title{
    margin-bottom: 0;
}
#a_novadesova{
    text-align: center;
    display: block;    
    margin-top: 4.6em;
}
.label_gerenciartartaruga{
    font-size: 0.94em;
}
.coordenadas{
    margin-bottom: 0.5em;
}
.data_hora,.ccc_ccl{
    margin-bottom: 1em;
}
#checkboxCoordenadas{
    margin-top: 0.5em;
}
#info{
    width: 1.4em;
    margin-bottom: -0.3em;
    margin-left: 0.7em;
}
#p_info{
    padding: 1em;
    font-size: 0.7em;
    padding-left: 3.5em;
    position: absolute;
    margin-top: -2.8em;
    padding-right: 2em;
}
@media (min-width: 200px) and (max-width: 320px){
    .div_gerenciartartaruga{
        padding: 1.5em;
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media (min-width:321px) and (max-width: 376px){
    .div_gerenciartartaruga{
        padding: 3.24em;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width:377px) and (max-width: 426px){
    .div_gerenciartartaruga{
        padding: 4.8em;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width:427px) and (max-width: 550px){
    .div_gerenciartartaruga{
        padding: 8.8em;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width:550px) and (max-width: 768px){
    .div_gerenciartartaruga{
        padding: 15.5em;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width:769px) and (max-width: 1025px){
   #div_gerenciartartarugaID{
        margin-left: 10em;
        margin-top: 2em;
   }
   #icon_cabecalho{
        display: none;
   }
   #cabecalho_2{
        display: none;
   }
   #segunda_sessao{
        background:none;
        margin-left: 39em;
        margin-top: 4em;
        width: 19em;
        height: 33em;
   }
   #btn_continuar{
        display: none;
   }
    #inputData {
        width: 9.5em;
    }

}

@media (min-width:1026px){
    #div_gerenciartartarugaID{
        margin-left: 10em;
        margin-top: 2em;
   }
   #icon_cabecalho{
        display: none;
   }
   #cabecalho_2{
        display: none;
   }
   #btn_continuar{
        display: none;
   }
    #inputData {
        width: 9.5em;
    }

}
