{% extends 'baseInicio.html' %}

{% block content %}
<div class="container margin-top">
  <section class = "pagina_de_registro">
    <div  class="cabecalho">
        <image id="logo" src="{{ url_for('static',filename='images/tartaruga.png' )}}">
        <h3 id="titulo_cabecalho">Casco</h3>
    </div>
        
    <div>
      <form id="div_form" action="" method="POST">
        {{ form.csrf_token }}
        {{ equipeform.csrf_token }}
          <h2 class="h1_titulo">Monte sua Equipe.</h2>
          <div class="div_input margin-top-min">
              {{form.nome(class = "formInput", placeholder="Seu Nome")}}
          </div>

          <div class="div_input margin-top-min">
              {{form.email(class = "formInput", id="add_email", placeholder="Seu Email")}}
          </div>

          <div class="div_input margin-top-min">
            {{equipeform.nomedaequipe(class = "formInput", id="add_nomedaequipe", placeholder="Nome da Nova Equipe")}}
          </div>

          
          <div class="div_input margin-top-min"> 
              {{form.senha(class = "formInput", id="add_senha",minlength="8",  placeholder="Sua Senha")}}
          </div>

          <div class="div_input margin-top-min">
              {{form.confirmarSenha(class = "formInput",minlength="8",  placeholder="Confirme sua Senha")}} 
          </div>

         
          <div class="div_link1 min">
            <a class="link" id="link" href="/registrarpesquisador">Voltar</a>
          </div>

          <p class="alerta_registro" id="alert_senha">
            {{alerta_senha}}
          </p>

          <p class="alerta_registro" id="alert_equipe">
            {{alerta_equipe}}
          </p>

          <p class="alerta_registro" id="alert_email">
            {{alerta_email}}
          </p>

          <p class="alerta_registro central_position" id="alerta_erro">
            {{alerta_erro}}
          </p>
          
          <div class="div_btn_entrar">
            <input class = "btn" type="submit" value="Cadastrar-se">  
          </div>

          
      </form>
    </div>
  </section>
</div>
{% endblock %}