
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Casco</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- Falta Adicionar Favicon OFICIAL -->
    <!-- <link rel="shortcut icon" href=""/> -->
    <!-- <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='' )}}"/> -->
  </head>
  <body>
    <section id = "register_page">
        <div id="title_inicial">
            <h1>Faça parte da família.</h1>
        </div>

        <form action="" method="POST">
          {{ form.csrf_token }}
          <label for="nome">Nome</label>
          {{form.nome(class = "nome", placeholder="Digite seu email")}}
          <label for="email">Email</label>
          {{form.email(class = "email", placeholder="Digite seu email")}}
          <!-- <label for="codigodeacesso">Código de Acesso</label> -->
          
          <label for="senha">Senha</label>
          {{form.senha(class = "senha", placeholder="Digite sua senha")}}
          <label for="confirmarSenha">Confirmar Senha</label>
          {{form.confirmarSenha(class = "confirmarSenha", placeholder="Digite sua senha")}}
          <input type="submit" value="Continue">
        </form>
        
        <div id="options">
            <a id="link1" href="/registerl">Formar Equipe</a>
            <a id="link2" href="/">Voltar</a>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src=''></script>
  </body>
</html> 