<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Casco</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href="../static/css/geral.css"/> -->
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='css/geral.css' )}}"/>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>    
</head>
<body>
    <nav class = "menu">
        <a class="btn" id="btn_fecharmenu"><img class="btn_fechar_menu" src="../static/images/close_icon_green.png" alt="Fechar Menu"></a>
        <ul>
            <a href="/principal"><li class="li_menu">Início</li></a>
            <a href="/historico"><li class="li_menu">Histórico</li></a>
            <a href="/configuracoes"><li class="li_menu">Configurar Perfil</li></a>
            <a href="/logout"> <li class="li_menu">Sair</li></a>
            
        </ul>
    </nav>

    <a class="btn" id="btn_abrirmenu"><img class="btn_abrir_menu" src="../static/images/menu_icon_blue.png" alt="Abrir menu"></a>

    <div>
        <h2>{{current_user.nome}}</h2>
        <p>Alterar Dados</p>
    </div>
    
    <script src="{{ url_for('static',filename='js/configuracoes.js' )}}"></script>
    <script src='../static/js/configuracoes.js'></script>

    <form action="" method="POST">
        <div>
            <label class="label_blue" for="nome">Nome</label><br>
            <input class="formInput" type="text" name="novoNome" id="nome" placeholder="{{current_user.nome}}" value="{{current_user.nome}}"><br>
        </div>

        <div>
            <label class="label_blue" for="email">Email</label><br>
            <input class="formInput" type="email" name="novoEmail" id="email" placeholder="{{current_user.email}}" value="{{current_user.email}}"><br>
        </div>

        <div>
            <label class="label_blue" for="senha">Senha Atual</label><br>
            <input class="formInput" type="password" name="senhaAtual" id="senhaAtual" autocomplete="new-password"><br>
        </div>

        <div>
            <label class="label_blue" for="senhaNova">Nova Senha</label><br>
            <input class="formInput" type="password" name="senhaNova" id="senhaNova" autocomplete="new-password"><br>
        </div>

        <button class="btn_blue"type="submit">Salvar</button>
    </form>
</body>
</html>