{% extends 'base.html' %}

{% block content %}
<div class="container margin-top">
    <section>
        <div>
            <h1>Nome da Equipe</h1>
            <input type="text" name="novoNomedaEquipe" id="nomedaEquipe" value="{{equipe_nome}}" placeholder="Adicione o nome da Equipe">
    
    
            <h3>Lider</h3>
            <p>{{lider_nome}}</p>
    
            <h3>Pesquisadores</h3>
            <ul id="view">  
                {% for membros in membros %}
                    <li class="">
                        <div class="">
                            <p class="aviso_h3">{{membros.nome}}</p>       
                        </div> 
                    </li>
                {% endfor %}
            </ul>
        </div> 
    </section>
</div>
{% endblock %}