{% extends 'base.html' %}

{% block content %}
<div class="container margin-top">
    <section id = "tela_principal">
        <div class="container" id="telaprincipal_margins">
            <h1 class="h1_titulo">Histórico</h1>
            <form action="" method="POST">
                <label class="label" for="identificador">Número de Identificação:</label><br>
                <div class="pesquisa">
                    <input class="formInputPesquisa" type="text" name="identificador" placeholder="Digite a anilha da tartaruga"><br>
                    <button class="btn_pesquisa" type="submit">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M21 21L16.65 16.65" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
                <p class="alerta_registro" id="alerta_erro_historico">
                    {{alerta_erro}}
                </p>
            </form>
            
            <ul class="ul_historico" id="view">
                {% for t in t %}
                    <li class="li">
                        <div class="div_historico">
                            {% if usuario == 'lider' %}
                                <div class="btns_editar_apagar">
                                <a onclick="apagar(confirmarExclusao{{t.id}})">
                                    <div class="btn_apagar">
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0)">
                                            <path d="M2.25 5.40002H3.75H15.75" stroke="#868686" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M6 5.40002V3.90002C6 3.5022 6.15804 3.12067 6.43934 2.83936C6.72064 2.55806 7.10218 2.40002 7.5 2.40002H10.5C10.8978 2.40002 11.2794 2.55806 11.5607 2.83936C11.842 3.12067 12 3.5022 12 3.90002V5.40002M14.25 5.40002V15.9C14.25 16.2978 14.092 16.6794 13.8107 16.9607C13.5294 17.242 13.1478 17.4 12.75 17.4H5.25C4.85218 17.4 4.47064 17.242 4.18934 16.9607C3.90804 16.6794 3.75 16.2978 3.75 15.9V5.40002H14.25Z" stroke="#868686" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M7.5 9.15002V13.65" stroke="#868686" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M10.5 9.15002V13.65" stroke="#868686" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0">
                                            <rect width="18" height="18" fill="white"/>
                                            </clipPath>
                                            </defs>
                                        </svg>
                                    </div>
                                </a>
                                </div>
                            {% endif %}

                            <div class="confirmarExclusao" id="confirmarExclusao{{t.id}}">
                                <h1>Apagar do Histórico?</h1>
                                <input class="btns" id="btn_cancelar" type="button" onclick="cancelar(confirmarExclusao{{t.id}})" value="Cancelar">
                                <a href="apagar_tartaruga/{{t.id}}"><input type="button"class="btns" value="Confirmar"></a>
                            </div>
                            
                            <p class="datahora">{{t.data}} - {{t.hora}}</p>

                            <div class="dados_t_dados">
                                <div class="dados_t">
                                    <p class="especie">{{t.especie}}</p>
                                    <p class="anilha">Anilha {{t.anilha}}</p>
                                    <p class="verMais" onclick="verMais(informacoesComplementares{{t.id}})" id="verMais{{t.id}}">+Informações</p>
                                    <div class="informacoesComplementares" id=informacoesComplementares{{t.id}}>
                                        <div>
                                            <p class="localizacao">Em {{t.praia}} - {{t.municipio}}</p>
                                            <p class="informacoes">{{t.informacoes}}</p>
                                            <p class="tipoderegistro">Tipo do Registro: {{t.tipo_de_registro}}</p>
                                        </div>

                                        <div class="div_dados">
                                            <p class="p_dados">Sexo: {{t.sexo}}</p>
                                            <p class="p_dados">CCC: {{t.ccc}}</p>
                                            <p class="p_dados">LCC: {{t.lcc}}</p>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</div>
{% endblock %}