<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Casco</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- Falta Adicionar Favicon OFICIAL -->
    <link rel="shortcut icon" href=""/>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='' )}}"/>
    
  </head>
  <body>
    <section id="initial_page">
      <h1 id="title">Casco</h1>
      <image id="img_Tartaruga" src="{{ url_for('static',filename='tartaruga.png' )}}"><br/>
      <a href="/login">
        <button id="btn_iniciar">Iniciar</button>
      </a>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src=''></script>
  </body>
</html> 