{% extends 'base.html' %}

{% block content %}
    <div class="container margin-top">
        <section id="inicio-section">
            <div>

                <h2 class="title">Olá,<b> {{current_user.nome}}</b></h2>

                <div>    
                    <h2><b>{{equipe}}</b></h2>
                    <p>{{codigo}}</p>
                </div>
                
    
                <div>
                        <h2><b>Novas Notificações</b></h2>
                        <ul id="view">
                            {% for a in a %}
                                <li class="li">
                                    <div class="div_aviso">
                                        <h3 class="aviso_h3">Período de Nascimento</h3>
                                        <p class="aviso_p">{{a.data}} - {{a.praia}}</p>
                                        <input class="btn_ver" type="button" value="ver" onclick="btn_abrir(div{{a.id}})">
                                    </div> 
                                </li>
                            {% endfor %}
            
                            {% for d in d %}
                                <li class="li">
                                    <div class="div_aviso">
                                        <h3 class="h3">Período de Nascimento</h3>
                                        <p class="p">{{d.data}} - {{d.praia}}</p>
                                        <input class="btn_ver" type="button" value="ver" onclick = "btn_abrir(div{{d.id}})">
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                </div> 
            </div>       
        </section>


        <section class="visualizar_notificacao">
            {% for a in a%}
                    <div id="div{{a.id}}" class="div_detalhes">
                        <a href="/inicio">
                            <svg class="svg_voltar" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M28.5 18H7.5" stroke="#5F6AF8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18 28.5L7.5 18L18 7.5" stroke="#5F6AF8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
    
                        <h1 class="h1_notificacoes">Que empolgante!<br>Em breve acontecerá uma nova desova.</h1><br>
                        <label class="label">Localização:</label>
                        <label class="label_dados">{{a.praia}}</label><br><br>
                        <label class="label">Espécie:</label>
                        <label class="label_dados">{{a.especie}}</label><br>      
                        <a class="btn_maps"href="https://www.google.com.br/maps/search/{{a.latitude}},{{a.longitude}}">
                            <input class="btn_azul" type="button" value="Ver no Mapa">
                        </a>
                    </div>
            {% endfor%}
    
            {% for d in d%}
                    <div id="div{{d.id}}" class="div_detalhes">
                        <a href="/inicio">
                            <svg class="svg_voltar" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M28.5 18H7.5" stroke="#5F6AF8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18 28.5L7.5 18L18 7.5" stroke="#5F6AF8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
    
                        <h1 class="h1_notificacoes">Que empolgante!<br>Em breve acontecerá uma nova desova.</h1><br>
                        <label class="label">Localização:</label><br>
                        <label class="label_dados">{{d.praia}}</label><br>
                        <label class="label">Espécie:</label><br>
                        <label class="label_dados">{{d.especie}}</label><br>      
                        <a class="btn_maps" href="https://www.google.com.br/maps/search/{{d.latitude}},{{d.longitude}}"><input class="btn_azul" type="button" value="Ver no Mapa"></a>
                    </div>
            {% endfor%}
        </section>
    </div>
{% endblock %}
