{% extends 'base.html' %}

{% block content %}
    <div class="container margin-top">
        <section id="inicio-section">
            <div>
                <h2 class="title">Olá,<b>{{primeiroNome}}</b></h2>

                <div class="div_titulo">    
                    <h2><b>{{equipe}}</b></h2>
                    <p>{{codigo}}</p>
                </div>
                
    
                <div>
                        <h2><b>Novas Notificações</b></h2>
                        <ul id="view">
                            {% for alertasdeTartarugas in alertasdeTartarugas %}
                                <li class="li">
                                    <div class="div_aviso">
                                        <h5 class="aviso_h5">Período de Nascimento</h5>
                                        <p class="aviso_p">{{alertasdeTartarugas.data}} - {{alertasdeTartarugas.praia}}</p>
                                        <input class="btn_ver" type="button" value="ver" onclick="btn_abrir(div{{alertasdeTartarugas.id}})">
                                    </div> 
                                </li>
                            {% endfor %}
            
                            {% for alertasdeDesova in alertasdeDesova %}
                                <li class="li">
                                    <div class="div_aviso">
                                        <h5 class="h5">Período de Nascimento</h5>
                                        <p class="p">{{alertasdeDesova.data}} - {{alertasdeDesova.praia}}</p>
                                        <input class="btn_ver" type="button" value="ver" onclick = "btn_abrir(div{{alertasdeDesova.id}})">
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                </div> 
            </div>       
        </section>


        <section class="visualizar_notificacao">
            {% for alertasdeTartarugas in alertasdeTartarugas %}
                    <div id="div{{alertasdeTartarugas.id}}" class="div_detalhes">
                        <a id="btn_fechar">
                            <svg class="svg_voltar" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M28.5 18H7.5" stroke="#5F6AF8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18 28.5L7.5 18L18 7.5" stroke="#5F6AF8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
    
                        <h1 class="h1_notificacoes">Que empolgante!<br>Em breve acontecerá uma nova desova.</h1><br>
                        <label class="label">Localização:</label>
                        <label class="label_dados">{{alertasdeTartarugas.praia}}</label><br><br>
                        <label class="label">Espécie:</label>
                        <label class="label_dados">{{alertasdeTartarugas.especie}}</label><br>      
                        <a class="btn_maps" href="https://www.google.com.br/maps/search/{{alertasdeTartarugas.latitude}},{{alertasdeTartarugas.longitude}}" target="_blank">
                            <input class="btn_azul" type="button" value="Ver no Mapa">
                        </a>
                    </div>
            {% endfor%}
    
            {% for alertasdeDesova in alertasdeDesova %}
                    <div id="div{{alertasdeDesova.id}}" class="div_detalhes">
                        <a id="btn_fechar">
                            <svg class="svg_voltar" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M28.5 18H7.5" stroke="#5F6AF8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18 28.5L7.5 18L18 7.5" stroke="#5F6AF8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
    
                        <h1 class="h1_notificacoes">Que empolgante!<br>Em breve acontecerá uma nova desova.</h1><br>
                        <label class="label">Localização:</label><br>
                        <label class="label_dados">{{alertasdeDesova.praia}}</label><br>
                        <label class="label">Espécie:</label><br>
                        <label class="label_dados">{{alertasdeDesova.especie}}</label><br>      
                        <a class="btn_maps" href="https://www.google.com.br/maps/search/{{alertasdeDesova.latitude}},{{alertasdeDesova.longitude}}" target="_blank"><input class="btn_azul" type="button" value="Ver no Mapa"></a>
                    </div>
            {% endfor%}
        </section>
    </div>
{% endblock %}
