<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Casco</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- Falta Adicionar Favicon OFICIAL -->
    <!-- <link rel="shortcut icon" href=""/> -->
    <!-- <link rel='stylesheet' type='text/css' media='screen' href="../static/css/geral.css"/> -->
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='css/geral.css' )}}"/>
  </head>
  <body>
    <section id = "login_page">
      <div id="title_inicial">
        <h1>Seja Bem Vindo!</h1>
        <p id="subtitle">É sempre um prazer ter você conosco.</p>
      </div>

      <form action = "" method = "POST">
        {{ form.csrf_token }}
        <div>
          <label class="label_blue">Email</label><br>
          {{form.email(class = "formInput", placeholder="Digite seu email")}}
          <br>
        </div>

        <div>
          <label class="label_blue">Senha</label><br>  
          {{form.senha(class = "formInput", placeholder="Digite sua senha")}}
          <br>
        </div>
       
        <button class="btn_blue" type="submit">Entrar</button>
      </form>        

      <div id="options">
       <a class="link" href="/recuperarsenha">Esqueceu a senha?</a>
       <a class="link" href="/registerp">Inscrever-se</a>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src=''></script>
  </body>
</html> 