{% extends 'baseInicio.html' %}

{% block content %}
<div class="container margin-top">
    <section id = "pagina_login">      
      <div id="titulo_inicial">
        <image id="img_tartaruga" src="{{ url_for('static',filename='images/tartaruga.png' )}}"><br/>
        <h1 id="titulo">Casco</h1>
        <p id="subtitulo">Conservação de Tartarugas Marinhas</p>
      </div>

      <div id="div_form">
        <form id="form" action = "" method = "POST">
          {{ form.csrf_token }}

          
          <div class="div_input">
            {{form.email(class = "formInput", id="add_email", placeholder="Email") }}
          </div>

          <div class="div_input">
            {{form.senha(class = "formInput", id="add_senha",  placeholder="Senha")}}
          </div>
          
          <div class="div_link1 margin_top_plus">
            <a class="link" id="link1" href="/recuperarsenha">Esqueceu a senha?</a>
            <a class="link" id="link2" href="/registrarpesquisador">Criar conta</a>
          </div>
          
          <p class="alerta_registro central_position" id="alerta_erro">
            {{alerta_erro}}
          </p>
          
          <div class="div_btn_entrar">
            <input class = "btn" type="submit" value="Entrar">  
          </div>
        </form>
      </div>        
      
      
    </section>
  </div>
{% endblock %}