<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Casco</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='css/geral.css' )}}"/>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='css/novadesova.css' )}}"/>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href="../static/css/geral.css"/> -->

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <form action="" method="POST">   
        <div class="sessao" id="primeira_sessao">
                
            <div class="cabecalho" id="cabecalho2">
                <a class="cabecalho2" href="/principal" id="btn_voltar"><img id="icon_cabecalho" class="btn_back" src="../static/images/back_icon_white.png" alt="voltar"></a>
                <h3 class="h1_gerenciartartaruga" id="cabecalho_2"> Gerenciar Nova Desova</h3><br/>
            </div>
            
            <div>
                <img id="info" src="../static/images/info_icon_white.png"> 
                <p id="p_info">Você deve cadastrar a nova desova quando não a dados sobre a tartaruga geradora.</p>      
            </div>
            <div class="div_gerenciartartaruga">
                <h1 class="h1_title">Dados da Localização</h1><br/>
<!--Municipio-->
                <div>
                    <label class="label_gerenciartartaruga">Município</label><br>
                    <select class="inputDadosTartaruga" name="municipio" id="inputMU">
                        <option value="Maxaranguape">Maxaranguape</option>
                        <option value="Ceará Mirim">Ceará Mirim</option>
                    </select><br>
                </div>
<!-- Praia -->
                <div>
                    <label class="label_gerenciartartaruga">Praia</label><br>
                    <select name="praia" id="inputPR" class="inputDadosTartaruga">
                        <option value="Jacumã">Jacumã - JCM</option>
                        <option value="Porto-Mirim">Porto-Mirim - PMR</option>
                        <option value="Muriú">Muriú - MRU</option>
                        <option value="Barra de Maxaranguape">Barra de Maxaranguape - BMX</option>
                        <option value="Cabo de São Roque">Cabo de São Roque - CSR</option>
                        <option value="Caraúbas">Caraúbas - CRB</option>
                        <option value="Maxaranguape">Maracajaú – MRJ</option>
                    </select><br>
                </div>
<!-- Atribuir Coordenadas -->
                <div class="coordenadas">
                    <label class="label_gerenciartartaruga" id = "atribuirCoordenadas">Atribuir Coordenadas</label><br>
                    <div id = "checkboxCoordenadas">
                        <input id="inputCoordenadas" type="checkbox" name="coordenadas" value="coordenadas">
                        <label for="inputCoordenadas"> Atribuir automaticamente.</label><br>
                    </div>
                </div>
<!-- Latitude -->
                <div>
                    <label class="label_gerenciartartaruga">Latitude</label><br>
                    <input class="inputDadosTartaruga" type="text" name="latitude" placeholder="Latitude"><br>
                </div>
<!-- Longitude -->
                <div>
                    <label class="label_gerenciartartaruga">Longitude</label><br>
                    <input class="inputDadosTartaruga" type="text" name="longitude" placeholder="Longitude"><br>
                </div>   
<!-- Data e Hora -->
                <div class="data_hora">
                    <div id="ccc">
                        <label class="label_gerenciartartaruga">Data</label><br>
                        <input  type="date" class="inputDadosTartaruga" id="inputData" name="data"><br>
                    </div>

                    <div id="ccl">
                        <label class="label_gerenciartartaruga">Hora</label><br>
                        <input type="time"  id="inputHora" class="inputDadosTartaruga" name="hora"><br>
                    </div>
                </div>
                
                <input class="btn_green" type="submit" value="Concluir">                
            </div>
        </div>
    </form>    
    <script src="{{ url_for('static',filename='js/principal.js' )}}"></script>
    <!-- <script src='../static/js/principal.js'></script> -->
</body>
</html>