<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Casco</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='css/geral.css' )}}"/>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href="../static/css/geral.css"/> -->

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <section class="sessao">
        
        <a href="/principal"><img class="btn_back" src="../static/images/back_icon_white.png" alt="ir para o menu"></a>

        <!-- titulos -->
        <div>
            <h3>Gerenciar Nova Desova</h3><br/>
            <p>Você deve cadastrar a nova desova quando não<br>a dados sobre a tartaruga geradora.</p>
            <h1>Dados da Localização</h1><br/>
        </div>
       
        <form action="" method="POST">
             <!-- Municipios -->
            <div>                
                <label>Município</label><br>
                <select name="municipio"  class="inputDadosTartaruga" >
                    <option value="Maxaranguape">Maxaranguape</option>
                    <option value="Ceará Mirim">Ceará Mirim</option>
                </select><br>
            </div>
            <!-- Praias -->
            <div>
                <label>Praia</label><br>
                <select name="praia"  class="inputDadosTartaruga" >
                    <option value="Jacumã">Jacumã - JCM</option>
                    <option value="Porto-Mirim">Porto-Mirim - PMR</option>
                    <option value="Muriú">Muriú - MRU</option>
                    <option value="Barra de Maxaranguape">Barra de Maxaranguape - BMX</option>
                    <option value="Cabo de São Roque">Cabo de São Roque - CSR</option>
                    <option value="Caraúbas">Caraúbas - CRB</option>
                    <option value="Maxaranguape">Maracajaú – MRJ</option>
                </select><br>
            </div>
            <!-- atribuir Coordenadas -->
            <div>
                <label id = "atribuirCoordenadas">Atribuir Coordenadas</label><br>
                <div id = "checkboxCoordenadas">
                    <input type="checkbox" name="coordenadas" value="coordenadas">
                    <label for="houvemanutencao"> Atribuir automaticamente.</label><br>
                </div>
                
            </div>
            <!-- Latitude -->
            <div>
                <label>Latitude</label><br>
                <input type="text" name="latitude" placeholder="Latitude"  class="inputDadosTartaruga" ><br>
            </div>
            <!-- Longitude -->
            <div>
                <label>Longitude</label><br>
                <input type="text" name="longitude" placeholder="Longitude"  class="inputDadosTartaruga" ><br>
            </div>
            <!-- Data e Hora -->
            <div class="data_hora">
                <div id="ccc">
                    <label>Data</label><br>
                    <input type="date" class="inputDadosTartaruga2" id="inputData" name="data"><br>
                </div>

                <div id="ccl">
                    <label>Hora</label><br>
                    <input type="time"  id="inputHora" class="inputDadosTartaruga2" name="hora"><br>
                </div>
            </div>

            <input class="btn_green" type="submit" value="Concluir">
        </form>
    </section>
    <script src="{{ url_for('static',filename='js/principal.js' )}}"></script>
    <!-- <script src='../static/js/principal.js'></script> -->
</body>
</html>