<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='css/principal.css' )}}"/>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href="../static/css/principal.css"/> -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <section class="cadastrar">
        
        <a href="/principal">
            <input type="button" id="btn_voltar" value="voltar">
        </a> 
        <!-- titulos -->
        <div>
            <h3>Gerenciar Nova Desova</h3><br/>
            <p>Você deve cadastrar a nova desova quando não<br>a dados sobre a tartaruga geradora.</p>
            <h1>Dados da Localização</h1><br/>
        </div>
       
        <form action="" method="POST">
             <!-- Municipios -->
            <div>                
                <label>Município</label>
                <select name="municipio">
                    <option value="Maxaranguape">Maxaranguape</option>
                    <option value="Ceará Mirim">Ceará Mirim</option>
                </select><br>
            </div>
            <!-- Praias -->
            <div>
                <label>Praia</label>
                <select name="praia">
                    <option value="Jacumã">Jacumã - JCM</option>
                    <option value="Porto-Mirim">Porto-Mirim - PMR</option>
                    <option value="Muriú">Muriú - MRU</option>
                    <option value="Barra de Maxaranguape">Barra de Maxaranguape - BMX</option>
                    <option value="Cabo de São Roque">Cabo de São Roque - CSR</option>
                    <option value="Caraúbas">Caraúbas - CRB</option>
                    <option value="Maxaranguape">Maracajaú – MRJ</option>
                </select><br>
            </div>
            <!-- atribuir Coordenadas -->
            <div>
                <label id = "atribuirCoordenadas">Atribuir Coordenadas</label><br>
                <div id = "checkboxCoordenadas">
                    <input type="checkbox" name="coordenadas" value="coordenadas">
                    <label for="houvemanutencao"> Atribuir automaticamente.</label><br>
                </div>
                
            </div>
            <!-- Latitude -->
            <div>
                <label>Latitude</label>
                <input type="text" name="latitude" placeholder="Latitude"><br>
            </div>
            <!-- Longitude -->
            <div>
                <label>Longitude</label>
                <input type="text" name="longitude" placeholder="Longitude"><br>
            </div>
            <!-- Data -->
            <div>
                <label>Data</label>
                <input type="text" name="data" placeholder="Data"><br>
            </div>
            <!-- Hora -->
            <div>
                <label>Hora</label>
                <input type="text" name="hora" placeholder="Hora"><br>
            </div>

            <div>
                <input type="checkbox" name="monitoramento" value="sim" id = "checkboxMonitoria" checked>
                <label for="ativar">Ativar o monitoramento</label><br>
                <p id = "informacoesMonitoria">Ao ativar essa opção sua equipe receberá um aviso sobre o provável período de nascimento.</p>
            </div>

            <input type="submit" value="Concluir">
        </form>
    </section>
    <script src="{{ url_for('static',filename='js/principal.js' )}}"></script>
    <!-- <script src='../static/js/principal.js'></script> -->
</body>
</html>