{% extends 'base.html' %}

{% block content %}
<div class="container margin-top-min">
    <form action="" method="POST">   
        <div class="sessaoEclosao" id="primeira_sessao">
            <div class="div_gerenciartartaruga">
                <h2 class="h1_titulo">Dados da Localização</h2>
                <p id="p_info">Você deve cadastrar um futura eclosão quando</br> não  há dados sobre a tartaruga geradora.</p> 
<!--Municipio-->
                <div class="div_input_tartaruga">
                    <label class="label">Município</label>
                    <select class="inputDadosTartaruga" name="municipio" id="inputMU">
                        <option value="Maxaranguape">Maxaranguape</option>
                        <option value="Ceará Mirim">Ceará Mirim</option>
                    </select>
                </div>
<!-- Praia -->
                <div class="div_input_tartaruga">
                    <label class="label">Praia</label>
                    <select name="praia" id="inputPR" class="inputDadosTartaruga">
                        <option value="Jacumã">Jacumã - JCM</option>
                        <option value="Porto-Mirim">Porto-Mirim - PMR</option>
                        <option value="Muriú">Muriú - MRU</option>
                        <option value="Barra de Maxaranguape">Barra de Maxaranguape - BMX</option>
                        <option value="Cabo de São Roque">Cabo de São Roque - CSR</option>
                        <option value="Caraúbas">Caraúbas - CRB</option>
                        <option value="Maxaranguape">Maracajaú – MRJ</option>
                    </select>
                </div>
<!-- Latitude -->
                <div class="div_input_tartaruga">
                    <div class="div_input">
                    <label class="label">Latitude</label>
                    <input class="inputDadosTartaruga" type="text" name="latitude" placeholder="Latitude">
                </div>
<!-- Longitude -->
                <div class="div_input_tartaruga">
                    <label class="label">Longitude</label>
                    <input class="inputDadosTartaruga" type="text" name="longitude" placeholder="Longitude">
                </div>   
<!-- Data e Hora -->
                <div class="data_hora">
                    <div id="ccc">
                        <label class="label">Data</label>
                        <input  type="date" class="inputDadosTartaruga" id="inputData" name="data">
                    </div>

                    <div id="ccl">
                        <label class="label">Hora</label>
                        <input type="time"  id="inputHora" class="inputDadosTartaruga" name="hora">
                    </div>
                </div>
                <p class="alerta_registro" id="alerta_erro">
                    {{alerta_erro}}
                </p>
                <input class="btn_salvar" type="submit" value="Concluir">
            </div>
        </div>
    </form>
</div>
{% endblock %}