<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Casco</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href="../static/css/geral.css"/> -->
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='css/geral.css' )}}"/>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='css/recuperarsenha.css' )}}"/>
</head>
<body>
    <a href="/login"><img class="btn_back" src="../static/images/back_icon_green.png" alt="voltar"></a>

    <section id="recuperar_senha">
        <div id="title_inicial">
            <h1>Recuperar Senha</h1>
            <p  id="subtitle">Nós enviaremos sua senha para o seu email.</p><br>
        </div>

        <form action="" method="POST">
        <label for="email" class="label_green">Email</label><br>
            <input type="email" name="email" class="formInput" placeholder="exemplo@email.com"><br>
            <input type="submit" class="btn_green" value="Recuperar">
        </form>
    </section>
    
</body>
</html>