{% extends 'baseInicio.html' %}

{% block content %}
<div class="container margin-top">
    <section id="recuperar_senha">
        <div  class="cabecalho">
            <image id="logo" src="{{ url_for('static',filename='images/tartaruga.png' )}}">
            <h3 id="titulo_cabecalho">Casco</h3>
        </div>

        
        <form id = "div_form" action="" method="POST">
            <h1 class="h1_recuperarSenha">Recuperar Senha</h1>
            <p class="p_recuperarsenha">Nós enviaremos sua senha para o seu email.</p>

            <div class="div_input">
                <input type="email" name="email" class="formInput" placeholder="exemplo@email.com">
            </div>
            
            <input type="submit" class="btn margin-top-min" value="Recuperar">
        </form>
        <a class="link margin-top-min" id="link" href="/">Voltar ao Inicio</a>

    </section>
</div>
{% endblock %}