{% extends 'base.html' %}

{% block content %}
<div class="container margin-top-min">
    <section class="registrartartaruga" id="registrarTartaruga">
        <form action="" method="POST">   
            <div class="sessao" id="primeira_sessao">
                <div class="div_gerenciartartaruga" id="div_gerenciartartarugaID">
                    <h2
                     class="h1_titulo">Dados das Tartarugas</h2>
<!-- Número de anilha -->
                    <div  class="div_input_tartaruga">
                        <label class="label">Número de Identificação</label>
                        <input class = "inputDadosTartaruga" type="text" name="numerodaanilha" placeholder="Anilha">
                    </div>
<!-- detalhamento -->
                    <div  class="div_input_tartaruga">
                        <label id = "detalhar"  class="label">Detalhamento</label>
                            <div id = "detalhes">
                                <input type="radio" id="houvemanutencao" name="informacoes" value="Houve Manutenção" checked>
                                <label for="houvemanutencao"> Houve Manutenção.</label><br>
                                <input type="radio" id="naohaviaanilha" name="informacoes" value="Não Havia Anilha">
                                <label for="naohaviaanilha"> Não havia Anilha.</label>
                            </div>
                    </div>
<!-- espécie -->
                    <div  class="div_input_tartaruga">
                        <label  class="label" >Espécie da Tartaruga</label>
                        <select class = "inputDadosTartaruga"  name="especie" id="inputES">
                            <option value="Desconhecido">De – Desconhecido</option>
                            <option value="Eretmochelys imbricata">EI – Eretmochelys imbricata</option>
                            <option value="Chelonia mydas"> CM – Chelonia mydas</option>
                            <option value="Caretta caretta">CC – Caretta caretta</option>
                            <option value="Lepidochelys olivacea">LO - Lepidochelys olivacea</option>
                            <option value="Dermocheys Coriacea">DC – Dermocheys Coriacea</option>
                        </select>
                    </div>
<!-- sexo -->
                    <div  class="div_input_tartaruga">
                        <label  class="label">Sexo</label>
                        <select class = "inputDadosTartaruga" id="inputSE" name="sexo">
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                        </select>
                    </div>
<!-- tipo de registro -->
                    <div  class="div_input_tartaruga">
                        <label  class="label">Tipo de Registro</label>
                        <select class = "inputDadosTartaruga"  name="tipodeRegistro" id="inputTR">
                            <option value="Com Desova">Com Desova</option>
                            <option value="Sem Desova">Sem Desova</option>
                            <option value="Meia Lua">Meia Lua</option>
                            <option value="Não Identificado">Não Identificado</option>
                        </select>
                    </div>    
<!-- CCC -->
                    <div class="ccc_ccl">
                        <div id="ccc">
                            <label  class="label" >CCC</label>
                            <input class = "inputDadosTartaruga" type="text" id="inputCCC" name="ccc" placeholder="Comprimento">
                        </div>

                        <div id="ccl">
                            <label  class="label">LCC</label>
                            <input class = "inputDadosTartaruga" id="inputCCL" type="text" name="lcc" placeholder="Largura">
                        </div>
                    </div>
                    <p class="alerta_registro" id="alerta_erro">
                        {{alerta_erro}}
                    </p>
                    
                    <input class="btn_salvar" type="button" id="btn_continuar" value="Continuar">
                </div>
            </div>
                    

                

                

            <div class="sessao" id="segunda_sessao">
                <a id = "btn_voltar_sessao">
                    <svg class="svg_voltar" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M28.5 18H7.5" stroke="#5F6AF8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18 28.5L7.5 18L18 7.5" stroke="#5F6AF8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>

                <div class="div_gerenciartartaruga">
                    <h1 class="h1_titulo">Dados da Localização</h1>
<!--Municipio-->
                    <div class="div_input_tartaruga">
                        <label class="label">Município</label>
                        <select class="inputDadosTartaruga" name="municipio" id="inputMU">
                            <option value="Maxaranguape">Maxaranguape</option>
                            <option value="Ceará Mirim">Ceará Mirim</option>
                        </select>
                    </div>
<!-- Praia -->
                    <div class="div_input_tartaruga">
                        <label class="label">Praia</label>
                        <select name="praia" id="inputPR" class="inputDadosTartaruga">
                            <option value="Jacumã">Jacumã - JCM</option>
                            <option value="Porto-Mirim">Porto-Mirim - PMR</option>
                            <option value="Muriú">Muriú - MRU</option>
                            <option value="Barra de Maxaranguape">Barra de Maxaranguape - BMX</option>
                            <option value="Cabo de São Roque">Cabo de São Roque - CSR</option>
                            <option value="Caraúbas">Caraúbas - CRB</option>
                            <option value="Maxaranguape">Maracajaú – MRJ</option>
                        </select>
                    </div>
<!-- Latitude -->
                    <div class="div_input_tartaruga">
                        <label class="label">Latitude</label>
                        <input class="inputDadosTartaruga" type="text" name="latitude" placeholder="Latitude">
                    </div>
    <!-- Longitude -->
                    <div class="div_input_tartaruga">
                        <label class="label">Longitude</label>
                        <input class="inputDadosTartaruga" type="text" name="longitude" placeholder="Longitude">
                    </div>   
    <!-- Data e Hora -->
                    <div class="data_hora">
                        <div id="ccc">
                            <label class="label">Data</label>
                            <input  type="date" class="inputDadosTartaruga" id="inputData" name="data">
                        </div>

                        <div id="ccl">
                            <label class="label">Hora</label>
                            <input type="time"  id="inputHora" class="inputDadosTartaruga" name="hora">
                        </div>
                    </div>
                    <p class="alerta_registro" id="alerta_erro">
                        {{alerta_erro}}
                    </p>
                    <input class="btn_salvar" type="submit" value="Concluir">         
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}