{% extends 'base.html' %}

{% block content %}
<div class="container margin-top">
    <section>
        <h1>Projeto Casco</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, repellat accusamus perferendis voluptatem beatae corporis quos asperiores repudiandae dolores dolor aspernatur natus culpa sint inventore laborum. Saepe at consequuntur quia.</p>
        <h3>Desenvolvedores</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio consequuntur nisi explicabo! Vero, illo fuga iure nemo mollitia officia cumque, laudantium ipsam quia facilis non enim exercitationem odit minus blanditiis?</p>
    </section>
</div>
{% endblock %}
    
